<!DOCTYPE html>
<html>
  <head>
    <title>Adventures</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<a href="http://localhost:3000/">Home</a>
  	<a href="http://localhost:3000/states">States</a>
	<a href="http://localhost:3000/activities">Activities</a>


    <%= yield %>
  </body>
</html>
